/* Background */

body.home {
    background-image: url('../img/CleanBackground4.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    transition: background-position 0.4s ease-out;
}

/*No shadow for header*/

.md-header {
    box-shadow: none !important;
}

body.home .md-content h1:first-of-type {
    margin-top: 200px;
}


/*
.md-content h1:first-of-type {
    margin-top: 200px;
}
    */