/* NE FONCTIONNE PAS A FINIR DEMAIN */

/* Transparence du champ de recherche */

.md-sidebar__scrollwrap {
    background-color: rgba(255, 255, 255, 0);
    /* blanc transparent */
    backdrop-filter: none(4px);
    /* optionnel : flou pour effet glassmorphique */
    border-radius: 6px;
    padding: 4px 3px;
    border: 1px solid rgba(255, 255, 255, 0);
}

/* Texte du champ */
.md-sidebar__scrollwrap {
    background: transparent;
    color: #ffffff;
}


.md-nav__title {
    background: rgb(173, 8, 8);
}