.hero {
    position: relative;
    background: url('../img/forming.png') no-repeat center center;
    background-size: cover;
    height: 92vh;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    margin-top: -2.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 20%;
    color: black;
}

.hero-content {
    max-width: 600px;
    padding: 2rem;
    transform: translateY(-30%);
}

.hero h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
