.fullscreen-banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  left: 50%;
  background: url('../img/landing_background.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -7.3rem;
}

.banner-content {
  text-align: center;
  color: white;
  max-width: 800px;
  padding: 0 20px;
}

.md-header, .md-tabs {
  background: transparent !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.md-header.scrolled {
  background: var(--md-primary-fg-color) !important;
  box-shadow: var(--md-shadow-z1) !important;
}

.md-tabs {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
